@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.geral {
    margin: 0;
    height: 100vh;
    display: flex;
}

.banner {
    height: 100vh;
    width: 50%;
    background-image: url("../img/bastion-overwatch-wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% ;
    box-shadow: 10px -0px 10px rgba(50, 50, 50, 0.77);
}

.formulario {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario .forms {
    height: 80vh;
    width: 23vw;
    margin-top: -10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forms .logoOver2{
    height: 19vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forms .logoOver2 img{
    align-self: center;
    width: 25%;
}

.logoOver2 .textTop {
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logoOver2 h1, p {
    margin: 0;
}

.logoOver2 p {
    font-size: 1.1rem;
}

.forms .campos {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.campos p {
    font-size: 1.2rem;
}

.campos .campo input {
    padding: 0 1.3vw;
    font-size: 1.2rem;
    outline: 0;
    height: 4vh;    
    border: none;
    border-bottom: solid 1px #eb7e40;
    width: 20vw;
}

.campos .botaoCadastro {
    font-size: 1.2rem;
    align-self: center;
    width: 90%;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eb7e40;
    color: #FFFF;
    border-radius: 1vw;
    border: none;
}

.campos .direcionarLogin {
    align-self: center;
    text-align: center;
    font-size: 1rem;
}

.campos .direcionarLogin a{
    text-decoration: none;
    color: #eb7e40;
    text-decoration: underline;
}

@media screen and (max-width: 1400px){
    .forms .logoOver2{
        height: 16vh;
    }

    .formulario .forms .campos{
        height: 60vh;
    }
}

#div_aguardar {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_aguardar img {
    height: 100%;
    width: 4vw;
}

#div_mensagem {
    display: flex;
    justify-content: center;
}