@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.banner{
    height: 90vh;
    background-image: url('../img/banner_home.webp');
    background-size: cover;
}

.header {
    background-color: #b4b4c7;
    position: fixed;
    top: 2vh;
    z-index: 2;
    height: 8vh;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    font-size: 1.1rem;
    font-weight: 600;
}

.header .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.header .container .logos{
    width: 41vw;
    display: flex;
    justify-content: space-between;
}

.header .container .blizzard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    background-color: #f0f2f1;
    border-radius: 0.5vw 0 0 0.5vw;
}

.blizzard img{
    width: 4vw;
}

.header .container .over_logo{
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.over_logo .logoOver{
    width: 2.2vw;
}

.over_logo .escritaOver{
    width: 75%;
}

.header .container .conteudos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
}

.conteudos p{
    font-size: 1rem;
}

.header ul {
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.header a {
    text-decoration: none;
    color: black;
}

#cadastroBotao {
    background-color: #F06414;
    border-radius: 1vh;
    height: 5vh;
    width: 7vw;
}

#cadastroBotao a{
    color: #FFFF;
}

.logos .conteudos .navegacao{
    padding: 0.4vw;
    border-radius: 8px;
}

.logos .conteudos .navegacao:hover{
    background-color: #de8b5b;
    color: rgb(255, 255, 255);
}


/* SEÇÃO */

.inicio {
    height: 70vh;
    background: linear-gradient(75deg, #FAF7F0, #afe0d9, #aac3fc, #8195f9);
    display: flex;
    justify-content: center;
}

.inicio .container {
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
}

.inicio .container .owLeague{
    margin-top: 10vh;
    height: 80%;
    width: 40%;
}

.owLeague p{
    font-size: 1.2rem;
    line-height: 150%;
    width: 95%;
}

.inicio .container .owLeagueBanner{
    width:55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio .container .owLeagueBanner img{
    width: 100%;
    box-shadow: 15px 10px 10px rgba(50, 50, 50, 0.77);
}

#cadastroBotao:hover {
    background-color: #de8b5b;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* SEÇÃO */

.classeJogo {
    height: 90vh;
    background: linear-gradient(70deg, #B9E0FF, #8D9EFF, #8D72E1, #6C4AB6);
    display: flex;
    justify-content: center;
}

.classeJogo .container {
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.campeaoTexto{
    width: 35vw;
}

.campeaoTexto .tabela{
    margin-top: 15vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.campeaoTexto .tabela h2{
    font-size: 2rem;
    color: #FFFF;
    font-weight: 500;
    text-shadow: 0.01em 0.02em 0.3em rgb(0, 0, 0);
}

.tabela table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    height: 40vh;
}

.tabela table th {
    background-color: #F06414;
    font-size: 1.2rem;
    color: #FFFF;
    text-shadow: 0.01em 0.02em 0.3em rgb(0, 0, 0);
}

.tabela table td, th{
    border: solid 1px black; 
    font-size: 1.2rem;
}

.campeaoImagem{
    width: 45vw;
    display: flex;
    align-items: center;
}

.campeaoImagem .boxes{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.campeaoImagem .box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.campeaoImagem .box2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.campeaoImagem img{
    width: 48%;
    box-shadow: 3px 10px 15px rgba(50, 50, 50, 0.77);
}

/* SEÇÃO */

.premios {
    height: 85vh;
    background: linear-gradient(45deg, #FAF7F0, #CDFCF6, #BCCEF8, #98A8F8);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.premios .container {
    margin-top: 2vh;
    height: 63vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.premios .container .alternativas{
    height: 50vh;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.premios .container .alternativas label{
    font-size: 1.7rem;
}

.premios .container .alternativas div{
    display: flex;
    align-items: center;
}


.premios .container .alternativas input{
    margin: 0;
    margin-right: 0.3vw;
}

.premios .container .alternativas button{
    margin-top: 1vh;
    background-color: #F06414;
    border-radius: 1vh;
    height: 5vh;
    width: 7vw;
    color: #FFFF;
    align-self: center;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
}

.premios .container .alternativas button:hover{
    cursor: pointer;
    background-color: #d9956d;
    color: #FFFF;
}

#parabens .salve{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    margin: 0;
}

#nome_classes {
    text-align: center;
    font-size: 2rem;
}

#img_classes {
    width: 50%;
}

.quizHabilitar {
    margin-bottom: 10vh;
    height: 25vh;
}

.quizMensagem {
    text-align: center;
    font-size: 2rem;
}

.footer {
    height: 7vh;
    background-color: #646477;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFF;
}

.footer span{
    font-weight: 500;
}

#b_elo {
    width: 2.7vw;
    display: flex;
    align-items: center;
}

#elozinho{
    width: 100%;
}

#titulinho{
    margin-top: 5vh;
}