@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.banner{
    height: 90vh;
}

.banner video{
    position: absolute;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    overflow: hidden;
}

.header {
    background-color: #d8d8fc;
    position: fixed;
    top: 2vh;
    z-index: 2;
    height: 8vh;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    font-size: 1.1rem;
    font-weight: 600;
}

.header .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.header .container .logos{
    width: 41vw;
    display: flex;
    justify-content: space-between;
}

.header .container .blizzard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    background-color: #f0f2f1;
    border-radius: 0.5vw 0 0 0.5vw;
}

.blizzard img{
    width: 4vw;
}

.header .container .over_logo{
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.over_logo .logoOver{
    width: 2.2vw;
}

.over_logo .escritaOver{
    width: 75%;
}

.header .container .conteudos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
}

.conteudos p{
    font-size: 1rem;
}

.header h1{
    margin: 0;
    display: flex;
    align-items: center;
}

.header ul {
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.header a {
    text-decoration: none;
    color: black;
}

#cadastroBotao {
    background-color: #F06414;
    border-radius: 1vh;
    height: 5vh;
    width: 7vw;
}

#cadastroBotao a{
    color: #FFFF;
}

/* SEÇÃO */

.inicio {
    height: 70vh;
    background: linear-gradient(45deg, #FAF7F0, #CDFCF6, #BCCEF8, #98A8F8);
    display: flex;
    justify-content: center;
}

.inicio .container {
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
}

html {
    scroll-behavior: smooth;
}

.inicio .container .textoInicio {
    height: 100%;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #1d253a;
}

.textoInicio h2{
    margin: 0;
    font-size: 2.7rem;
    text-transform: uppercase;
    width: 75%;
    font-weight: 900;
}

.textoInicio p{
    width: 90%;
    line-height: 160%;
    font-size: 1rem;
}

.inicio .container .imgInicio {
    height: 100%;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio .container img{
    width: 100%;
    height: 80%;
}

/* SEÇÃO */

.classeJogo {
    height: 90vh;
    background: linear-gradient(45deg, #6C4AB6, #8D72E1, #8D9EFF, #B9E0FF);
    display: flex;
    justify-content: center;
}

.classeJogo .container {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.classeJogo .container .imgHeroi {
    height: 100%;
    width: 43vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgHeroi img {
    margin-top: 12vh;
    width: 70%;
}

.classeJogo .container .textoHeroi {
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.textoHeroi h2 {
    font-size: 2.5rem;
    color: #FFFF;
    text-shadow: 0.07em 0.09em 0.8em rgb(0, 0, 0)
}

@media screen and (max-width: 1366px) {
    .textoHeroi h2 {
        margin: 0;
        margin-top: 4vh;
    }
}

.textoHeroi .icons {
    height: 9vh;
    width: 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons .icon, .icon2, .icon3{
    height: 6.5vh;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #FFFF;
    border-radius: 50%;
}

.icons .icon:hover, .icon2:hover, .icon3:hover{
    background-color: #b3c1d1;
    cursor: pointer;
}

.icon img, .icon2 img, .icon3 img {
    width: 1.7vw;
}

@media screen and (max-width: 1366px) {
    .icons .icon, .icon2, .icon3  {
        height: 5.5vh;
        border: solid 1px #FFFF;
    }
}

.textoHeroi .descricao {
    color: #ffff;
}

.descricao h3 {
    text-transform: uppercase;
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 1.5vh;
    margin-top: 5vh;
    text-shadow: 0.07em 0.09em 0.8em rgb(0, 0, 0)
}

@media screen and (max-width: 1366px) {
    .descricao h3 {
        margin-top: 1.5vh;
    }
}

.descricao p {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 500;
    text-shadow: 0.01em 0.02em 0.8em rgb(0, 0, 0)
}

.premios {
    height: 85vh;
    background: linear-gradient(45deg, #FAF7F0, #CDFCF6, #BCCEF8, #98A8F8);
    display: flex;
    justify-content: center;
}

.premios .container {
    height: 85vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

.descricaoPremio {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.miniContainer {
    margin-bottom: 10vh;
}

.miniContainer h3{
    text-transform: uppercase;
    font-size: 2.2rem;
}

.miniContainer p{
    line-height: 150%;
    font-size: 1rem;
}

.imgPremio {
    width: 40vw;
    display: flex;
    align-items: center;
}

.imgPremio img {
    width: 100%;
}

.footer {
    height: 7vh;
    background-color: #646477;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFF;
}